{
  "env": {
    "mocha": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "globals": {
    "expect": true,
    "sinon": true
  },
  "rules": {
    "no-unused-expressions": "off"
  }
}
